<html>
  <head>
    <title>Here's a random fact</title>
  </head>

  <body>
    <br>
    <br>
    <br>
    <br>
    <center>
   
      <h1>RANDOM FACTOID TO INCREASE YOUR LIFE EXPECTANCY:</h1>
        <h3><%= randomfact %></h3>

      <br>
      <br>
      <br>
      <a href="/random_fact">Gimme another one</a>
      <br>
      <br>
      <br>
      <form action="/submit_fact">
        <input type="text" name="fact" placeholder="Show me what you got" />
        <input type="submit" value="Submit" />
      </form>
    </center>
  </body>
</html>
