<!DOCTYPE html>
<html>
  <head>
    <title>Image 'n Heap</title>
  </head>
  <body>
    <center><h1>IMAGE A NATION</h1></center>

    <hr>

    <div class="problem">
      <h2 class="problem_title">Animals</h2>
      <p>Chill out bro</p>
      <img id="main_img" src="/static/img/gorilla.jpg" height="300px">
    </div>

    <hr>

    <div class="problem">
      <h2 class="problem_title">Peekaboo</h2>
      <p>The baby gorilla can do a magic trick, just press 'Go Away!'</p>
      <button id="toggle_img">Go Away!</button>

    </div>

    <hr>

    <div class="problem">
      <h2 class="problem_title">Swap Em</h2>
      <p>Type in 'giraffe' 'red_panda' or 'gorilla' in the text box for some magic!</p>
      <input type="text" id="new_img_file">
      <button id="change_img">Swap It In</button>
    </div>

    <hr>

    <div class="problem">
      <h2 class="problem_title">Find the Source</h2>
      <p>Click on an impage for it's source</p>
      <img class="clickable" src="/static/img/gorilla.jpg" width="100px" height="100px">
      <img class="clickable" src="/static/img/giraffe.jpg" width="100px" height="100px">
      <img class="clickable" src="/static/img/red_panda.jpg" width="100px" height="100px">
    </div>

    <hr>

    <div class="problem2">
      <h2 class="problem_title2">Imgrr</h2>
     


 
    <h2 class="problem_title">Pictures from Vietnam</h2>
      <img id="main2_img" src="/static/img/IMG_1348.JPG" height="700px">
  
    <h2 class="problem_title">See more pictures!</h2>
      <img class="clickable2" src="/static/img/IMG_1348.JPG" width="100px" height="100px">
      <img class="clickable2" src="/static/img/IMG_1377.JPG" width="100px" height="100px">
      <img class="clickable2" src="/static/img/IMG_1398.JPG" width="100px" height="100px">
    



      </div>

    <a href="/">Back</a>

    <!-- Now load all the javascript and css code -->
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/js/imgrr.js" type="text/javascript"></script>
    <link href="/static/css/imgrr.css" rel="stylesheet" type="text/css">
  </body>
</html>
