<!DOCTYPE html>
<html>
  <head>
    <!-- Edit me! -->
    <title>Val's CS Adventure</title>

 <link href="/static/css/stuff.css" rel="stylesheet" type="text/css">

  </head>

  <body>
    <center><h1>Super Saiyan Worthy CS Skills</h1></center>

    <!-- This draws a line across the page! -->
    <hr/>

    <div class="problem">
      <h2 class="problem_title">Say Hello!</h2>
      <p>Click on 'Say Hello' for another super-fun pop-up! Cause everyone loves pop-ups.</p>
      <button id="say_hello">Say hello</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Houdini</h2>
      <p id="houdini_text">To discover the answer to life, click the 'Disappear' button</p>
      <button id="disappear">Disappear</button>
      <button id="reappear">Reappear</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Tickle Me Pink</h2>
      <p id="tickled_text">Make this code pink just cause why not. 
        <img 
        id="thumbsup"
        src="http://auroramag.files.wordpress.com/2011/12/thumb-up-for-2012-copy.jpg" alt="Thumbs Up"> </p>
      <button id="pink">Pinkify me!</button>
    </div>

    <hr/>

    <div class="problem">
      <h2 class="problem_title">Greet Me</h2>
      <p id="tickled_text">Type your name in the box for magic and more awesome pop-ups! </i></p>


      <input type="text" id="my_name" />
      <button id="greetme">Say hi to me, I have no friends!</button>
    </div>

    <a href="/">Return to Home Page</a>

    <!-- Now load all the javascript code -->
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/static/js/stuff.js" type="text/javascript"></script>
  </body>
</html>
